aside {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  left: 0; }

main {
  position: absolute;
  height: 100%;
  width: 80%;
  right: 0; }

@font-face {
  font-family: "JelpMi";
  src: url("../../fonts/gotham_rounded/GothamRoundedLight_21020.ttf"); }

* {
  font-family: JelpMi; }

/*body y footer adhesivo*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../../img/fondo_jelpmi.png"); }

main {
  flex: 1 0 auto; }

.navBarJelp {
  background: white;
  height: 100%;
  float: left;
  border-right: solid 1px #e4e4e4; }
  .navBarJelp .perfil-nav {
    height: 20%; }
    .navBarJelp .perfil-nav img {
      height: 100%;
      width: 100%; }
  .navBarJelp .menu {
    height: 80%;
    margin-top: 0%; }
    .navBarJelp .menu li {
      padding-top: 5%;
      font-size: 1.5em;
      background: white;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #e4e4e4;
      transition: .4s; }
      .navBarJelp .menu li:hover {
        transform: translateX(9%); }

.login {
  margin-top: 10%; }
  .login .card-panel {
    background: #efefef; }

.usuarios .item-user {
  display: inline-block; }
  .usuarios .item-user:hover {
    background-color: rgba(147, 112, 219, 0.28); }
  .usuarios .item-user img-container {
    padding: 1%; }

.usuarios .pop-detalle .fondo {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100; }
  .usuarios .pop-detalle .fondo .card-detalle {
    margin-top: 15%;
    padding-bottom: 20px; }
