$purple-color: #764494;
$blue-material-color: #039be5;
$black-color: #444444;
$white-color: #FFFFFF;
$blue-color: #74b6c9;
$blue-link-color: #039be5;
$pink-color: #ec6978;
$fuctsia-color: #cc368b;
$banana-color: #fed373;
$orange-color: #f0864d;
$facebook-color: rgb(59,89,152);
$green: rgb(107,177,62);
$grey: #aaaaaa;
$purple-color-80: rgba(118,68,148,.85);

$error-color: #e57373;

aside{
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  left: 0;
}

main{
  position: absolute;
  height: 100%;
  width: 80%;
  right: 0;
}




// 0 FUENTES
// 1 NAVBAR










// 0 FUENTES

  @font-face {
    font-family: "JelpMi";
    src: url('../../fonts/gotham_rounded/GothamRoundedLight_21020.ttf');
}
* {
  font-family: JelpMi;
}
/*body y footer adhesivo*/
body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../../img/fondo_jelpmi.png');
}
main {
    flex: 1 0 auto;
}



//1 NAVBAR

.navBarJelp{
  background: white;
  height: 100%;
  float: left;
  border-right: solid 1px #e4e4e4;
  .perfil-nav{
    height:20%;
    img{
      height:100%;
      width:100%;
    }
  }
  .menu{
    height:80%;
    margin-top: 0%;
    li{
      padding-top: 5%;
      font-size: 1.5em;
      background: white;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #e4e4e4;
      transition: .4s;
      &:hover{
        transform: translateX(9%);
      }
    }
  }
}


//2 LOGIN

.login{
  margin-top: 10%;
  .card-panel{
    background: #efefef;
  }
}

//3 USUARIOS

.usuarios{
  .item-user{
    display: inline-block;

    &:hover{
      background-color: rgba(147, 112, 219, 0.28);

    }
    img-container{
      padding: 1%;
    }
  }
  .pop-detalle{
    .fondo{
      top:0;
      left:0;
      background: rgba(0,0,0,.5);
      position: fixed;
      height:100%;
      width:100%;
      z-index: 100;
      .card-detalle{
        margin-top: 15%;
        padding-bottom: 20px;
      }
    }
  }
}





















