<div class="navBarJelp" ng-if="!$ctrl.algo">
    <div class="perfil-nav">
        <img src="http://materializecss.com/images/office.jpg" alt="">
    </div>
    <ul class="menu">
        <a href=""><li class="hoverable center">Usuarios</li></a>
        <a href=""><li class="hoverable center">Usuarios</li></a>
        <a href=""><li class="hoverable center">Usuarios</li></a>
        <a href=""><li class="hoverable center">Usuarios</li></a>
        <a href=""><li class="hoverable center">Usuarios</li></a>
    </ul>
</div>